footer a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  background-color: transparent;
}

footer a:hover {
  color: white;
  text-decoration: none;
}

/* Scroll to top button */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

.scroll-to-top a {
  text-decoration: none;
  color: #fff;
}